In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
languages = '../data/language.csv'
language = pd.read_csv(languages)
pd.set_option('display.max_columns', None)



language.head()

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19

In [6]:
new_languages = {
    'language_id': [1, 2],
    'audio_type': ['Orig', 'Dub'],
    'audio_language': ['English', 'Spanish'],
    'subtitle_Y/N': ['Y', 'N'],
    'subtitle_language': ['Spanish', 'N']
}

new_language = pd.DataFrame(new_language)
new_language.head()

   language_id audio_type audio_language subtitle_Y/N subtitle_language
0            1       Orig        English            Y           Spanish
1            2        Dub        Spanish            N                 N

In [7]:
language = new_language
language.head()

   language_id audio_type audio_language subtitle_Y/N subtitle_language
0            1       Orig        English            Y           Spanish
1            2        Dub        Spanish            N                 N

In [8]:
rows_with_null = language.isnull().all(axis=1)

print(rows_with_null)

0    False
1    False
dtype: bool